*::before, *::after {
    box-sizing: border-box;
}

body {
    background: linear-gradient(to right, #21212c, #0c1a4a);
}

input[type=text]:focus {
    padding: 5px;
    border-radius: 1%;
    border: 3px solid cadetblue;
    background-color: rgb(182, 199, 255);
}

#snum {
    top: 5vh;
}

.smth, label, #Result {
    color: white;
}

h1 {
    text-align: center;
}

.Buttons {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5px;
    gap: 10px 10px;
    
}

ol li{
    display: inline-block;
    margin: 10px 10px;
}

#Result {
    display: flex;
    justify-content: center;
}

.Number-Fields {
    text-align: center;
    position: relative;
    top: 20px;
    /* border: 3px solid rgb(18, 8, 41);
    transform: translate(-50%, 50%);
    left: 50%;
    width: 30%; */
}

#fnum:hover, #snum:hover {
    border-radius: 5%;
}

.Styling-Block {
    display: flex;
    background-color: aquamarine;
    justify-content: center;
    align-items: center;
    width: 150px;
    height: 150px;
    margin: 0 auto;
    visibility: hidden;
}

