*::before, *::after {
    box-sizing: border-box;
}

body {
    background: linear-gradient(to right, #21212c, #0c1a4a);
}

input[type=text]:focus {
    padding: 1vw;
    border-radius: 1%;
    border-color: rgb(0, 255, 110);
}

#snum {
    top: 5vh;
}

.smth, label, #demo {
    color: white;
}

