*::before, *::after {
    box-sizing: border-box;
}

:root {
    --opacity-rate: 0.5;
}

input::placeholder {
    color: white;
}

ol, ul {
    list-style: none;
    margin: 0;
}

html {
    height: 100%;
}

body {
    background-color: #0d1117;
    padding: 10px;
    height: 100%;
    margin: 0;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.header {
    /* border: 1px solid whitesmoke; */
    border-radius: 15px;
    position: absolute;
    top: 10px;
    left: 10px;
    right: 10px;
    background-color: #161b22;
}

.Modes {
    background-color: #161b22;;
    /* border: 1px solid whitesmoke; */
    border-radius: 15px;
    position: absolute;
    top: 105px;
    left: 10px;
    right: 10px;
    padding: 0;
}

.Modes-Title {
    color: #ffffff;
    /* border-right: 1px solid whitesmoke; */
    width: max-content;
    padding-right: 15px;
    position: relative;
    left: 50px;
}

.Modes-Section {
    display: grid;
    grid-template-columns: 70% 10% 10% 10%;
    max-height: min-content;
    
    margin: 0;
    padding: 0;
    border-radius: 15px;
}

.Modes-Buttons > li {
    color: #ffffff;
}

.Mode-Button {
    display: block;
    width: 100%;
    height: 100%;
    color: white;
    background-color: transparent;
    border: 0px;
    border-radius: 15px;
}

.Mode-Button:hover {
    background-color: #7663ff20;
}

.Mode-Button:focus {
    background-color: #7563ff4f;
}

.Results {
    background-color: #161b22;
    /* border: 1px solid whitesmoke; */
    border-radius: 15px;
    position: absolute;
    top: 200px;
    left: 10px;
    right: 10px;
    bottom: 10px;
    padding: 0;
    margin: 0;
    min-height: 400px;
}

.Results-Section {
    
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 16px;
    margin: 0;
    padding: 15px;
}

.Results-Header {
    color: whitesmoke;
    /* border: 1px solid whitesmoke; */
    text-align: center;
    margin-top: 0px;
}

.Results-Section > li {
    /* background-image: radial-gradient(#19294b, #101d3a); */
    /* border: 1px solid whitesmoke; */
    border-radius: 30px;
    padding: 10px;
    animation: 6s shine infinite linear;
}

.Results-Input {
    /* border: 1px solid whitesmoke; */
    display: grid;
    grid-template-columns: 1fr;
    gap: 10px;
    padding: 0px;
    
}

.Input-Field {
    min-height: 80px;
    background-color: #ffffff;
    border-radius: 30px;
    background-image: linear-gradient(90deg, #293649, #161b22);
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 25px;
    
}

.Simple-Number-Input {
    margin-top: 5px;
    width: 70%;
    background-color: #7663ff20;
    border: 0px;
    height: 30%;
    border-radius: 15px;
    font-size: larger;
    padding-left: 5%;
    color: white;
    
}

label, #Result {
    color: white;
}

.Title, #Result, #fnum-title, #snum-title, .Basic-Operations > button:focus, .Advanced-Operations > button:focus {
    text-align: center;
    background-color: #F4D03F;
    background-image: linear-gradient(270deg, #417272 0%, #ffffff 50%);
    color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
    border: 0;
}

.Basic-Operations {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5px;
    gap: 10px 10px;
    margin-top: 400px;   
}

.Advanced-Operations-Parent {
    position: relative;
}


.Advanced-Operations {
    position: absolute;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5px;
    gap: 10px 10px;   
    top: 15px;
}

.Basic-Operations > button, .Advanced-Operations > button {
    width: 100px;
}

.Number-Fields-Child li{
    display: inline-block;
    margin: 10px 10px;
}

#Result {
    display: flex;
    justify-content: center;
}

.Number-Fields {
    text-align: center;
    position: relative;
    top: 20px;
    /* border: 3px solid rgb(18, 8, 41);
    transform: translate(-50%, 50%);
    left: 50%;
    width: 30%; */
}

#fnum:hover, #snum:hover {
    border-radius: 5%;
}

.Styling-Block {
    display: flex;
    background-color: aquamarine;
    justify-content: center;
    align-items: center;
    width: 150px;
    height: 150px;
    margin: 0 auto;
    visibility: hidden;
}

@keyframes shine {
    0%, 100% {
        background-color: #161b22;
        border: 5px solid rgba(168, 168, 168, 0);

    }

    25% {
        background-color: #283343c8;
        border: 5px solid rgba(168, 168, 168,var(--opacity-rate));
    }

    50% {
        background-color: #161b22;
        border: 5px solid rgba(168, 168, 168, 0);
    }

    75% {
        background-color: #2c353f;
        border: 5px solid rgba(168, 168, 168,var(--opacity-rate));
    }
}